<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966054091861-0i215hk4d2el4n5g4bddp786et0g76vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966054091861-0i215hk4d2el4n5g4bddp786et0g76vc</string>
	<key>API_KEY</key>
	<string>AIzaSyA75D_GMbTTOg0lvw_4J3vO2QaLBhtAvYY</string>
	<key>GCM_SENDER_ID</key>
	<string>966054091861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnFirebase</string>
	<key>PROJECT_ID</key>
	<string>loginpage-24c0d</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-24c0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966054091861:ios:c20cbcfca6f024939048dc</string>
</dict>
</plist>